<html lang="tr" class="dark">
  <head>
    <%-include("./head")%>
  </head>
  <body class="dark:text-gray-100 dark:bg-gray-900">
    <%-include("./header")%>
    <main>
    	<%-body%>
    </main>
    <%-include("./footer")%>
    <%-include("./body")%>
  </body>
</html>